{% extends 'base.html' %}

{% block title %}<title>Главная</title>{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row align-items-end screen">
            <div class="col-3">
                <h1>Lorem ipsum</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda fugiat illum,
                inventore iste provident quia suscipit. Adipisci beatae commodi facilis inventore,
                itaque labore, nisi optio possimus quibusdam sed veniam voluptate?
            </div>
        </div>
    </div>
    <div class="container-fluid bg-color bg-height__20">
        <div class="row justify-content-between ">
            <div class="col-3">
                <h1>Lorem ipsum</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam cum dolores ducimus eaque
                exercitationem facere, harum in iusto mollitia nostrum provident repudiandae totam vero voluptas.
                Eum
                iste sapiente suscipit.
            </div>
            <div class="col-3">
                <h1>Lorem ipsum</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam cum dolores ducimus eaque
                exercitationem facere, harum in iusto mollitia nostrum provident repudiandae totam vero voluptas.
                Eum
                iste sapiente suscipit.
            </div>
            <div class="col-3">
                <h1>Lorem ipsum</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam cum dolores ducimus eaque
                exercitationem facere, harum in iusto mollitia nostrum provident repudiandae totam vero voluptas.
                Eum
                iste sapiente suscipit.
            </div>
        </div>
    </div>
{% endblock %}