<div class="container-fluid bg-color bg-height__10">
    <div class="row align-items-center">
        <div class="col brand">
            Mega.
        </div>
        <div class="col">
            <ul class="ul">
                <li><a href="{% url 'main' %}">Homepage</a></li>
                <li>About us</li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li>Works</li>
                <li>Blog</li>
                <li>Pages</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div class="col mb-4 buttons">
            <button type="button" class="btn btn-primary">
                Try builder
            </button>
            <button type="button" class="btn btn-outline-primary">
                Purchase now
            </button>
        </div>
    </div>
</div>